* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Mono", monospace;
}
html,
body {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  border-bottom: 3px solid black;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-top: 5px;
  gap: 70px;
}
nav ul a{
     color: grey;
  font-size: 17px;
  padding-top: 3px;
  transition: all 0.2s ease-in;
  text-decoration: none;
}
/* nav ul li {
 
} */
nav ul a:hover {
  color: black;
  cursor: pointer;
  font-size: 18px;
}
.logo {
  /* color: white; */
  border: 2px solid black;
  background-color: rgb(140, 255, 0);
  padding: 3px 15px;
  box-shadow: 3px 3px;
  transition: all 0.2s ease-in;
}
.shad {
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  padding: 3px 15px;
  box-shadow: 3px 3px;
}
.abt-button a{
    text-decoration: none;
    color: black;
}
.abt-button h5 {
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  padding: 6px 15px;
  box-shadow: 3px 3px;
  transition: all 0.2s ease-in;
}
.abt-button h5:hover {
  cursor: pointer;
  transform: translateY(-2px);
  background-color: rgb(240, 238, 238);
}
.logo:hover {
  cursor: pointer;
  transform: translateY(-2px);
  background-color: rgb(186, 253, 105);
}
