* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Mono", monospace;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}
#main{
  overflow-x: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dadada; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(39, 39, 39);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  border-bottom: 3px solid black;
   position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 10;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-top: 5px;
  gap: 70px;
}
nav ul a{
     color: grey;
  font-size: 17px;
  padding-top: 3px;
  transition: all 0.2s ease-in;
  text-decoration: none;
}
/* nav ul li {
 
} */
nav ul a:hover {
  color: black;
  cursor: pointer;
  font-size: 18px;
}
.logo {
  /* color: white; */
  border: 2px solid black;
  background-color: rgb(255, 191, 0);
  padding: 3px 15px;
  box-shadow: 3px 3px;
  transition: all 0.2s ease-in;
  
}
.shad {
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  padding: 3px 15px;
  box-shadow: 3px 3px;
}
.abt-button a, .logo h3 a{
    text-decoration: none;
    color: black;
} 
.abt-button h5 {
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  padding: 6px 15px;
  box-shadow: 3px 3px;
  transition: all 0.2s ease-in;
}
.abt-button h5:hover {
  cursor: pointer;
  transform: translateY(-2px);
  background-color: rgb(240, 238, 238);
}
.logo:hover {
  cursor: pointer;
  transform: translateY(-2px);
  background-color: rgb(255, 195, 15);
}
.power p{
  border: 2px solid black;
  background-color: rgb(248, 248, 248);
  padding: 5px 12px;
  box-shadow: 2px 2px;
  color: rgb(100, 100, 100);
  align-items: center;
  display: flex;
  justify-content: center;
  

}
nav{
 
  /* backdrop-filter: blur(20px); */
}
.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.power p img{
  height: 25px;
  width: 25px;
  margin: 0px 7px;
}
.page1 .left img{
  height: 600px;
  width : 600px;
  padding: 1px;
  ;
  margin: 60px 60px;
  
}
/* .page1 {
  display: flex;
  justify-content: space-around ;
  align-items: center;
} */
.page1 .right{
  margin: left 40px;
  font-size: 40px;
}
.line1{
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .hero-section{
  min-height: 100%;
  /* background-color: red; */
  padding-bottom: 160px;
  padding-top: 100px;
}
.content .two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .two h1{
  padding: 17px;
  font-size: 80px;
}
.content .two p{
  font-family: "poppins";
  color: grey;
  font-size: 25px;
  width: 780px;
  text-align: center;

}
.content{
  margin-top: 90px;
}

.topics img{
  height: 23px;
  width: 23px;
  padding: 2px;
  
}


.topics{
  display: flex;
  gap: 8px;
  justify-content: center;
  color: white;
  align-items: center;
  border: 2px solid black;
  background-image: linear-gradient( rgb(0, 0, 0),rgb(99, 99, 99));
  padding: 6px 15px;
  margin: 20px;
  box-shadow: 2px 2px;
  transition: all 0.2s ease-in;
  font-size: 12px;
}
.line2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.topics2{
  margin: 30px 20px;
  font-size: 25px;
  font-family: "poppins";
  

}
.topics2 a{
  text-decoration: none;
  color: black;
}
.topics2 h5{
  font-family: "poppins";
  font-weight: 600;
  border: 2px solid black;
  background-color: rgb(248, 248, 248);
  padding: 6px 15px;
  /* margin: 20px; */
  box-shadow: 2px 2px;
  transition: all 0.2s ease-in;

  
}
.topics2 h5:hover {
  cursor: pointer;
  transform: translateY(-4px);
  background-color: rgb(240, 238, 238);
}
.hero2 *{
  text-align: center;
}
.hero2 h1, .hero3 h1{
  font-size: 60px;
}
.hero2 .desc, .hero3 .desc{
  font-family: "poppins";
  font-size: 17px;
  color: grey;
  margin-left: 259px;
  margin-right: 259px;
  margin-top: 20px;
}
.content-hero2{
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-flow: row;
}
.hero2-one, .hero2-two{
  display: flex;
  flex-flow: column;
  gap: 20px;
}
.box{
  border: 1px solid black;
  display: flex;
  height: 200px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 600px;
  background-color: rgb(255, 252, 249);
  transition: all 0.2s ease-in;
}
.box:hover{
  cursor: pointer;
  transform: translateY(-8px);
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.139) ;
}
.hero2-logo i{
  font-size: 25px;
  color: rgb(255, 191, 0);
}
.hero2-logo{
  /* height: 40px; */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  border-radius: 4px;
  padding: 3px;
  background-color:rgb(255, 244, 210) ;
}
.box .title, .box .para{
  text-align: left;
}
.content-hero2 .texts{
  display: flex;
  flex-flow: column;
  gap: 7px;
}
.patti{
  background-color: #1e1e1e;
  color: white;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 33px;
  margin-bottom: 170px;
  transform: rotate(1deg);
}
.patti i{
  color: rgb(255, 191, 0);
}
.hero3{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.content-hero3{
  margin-top: 20px;
}
.card{
  background-color: rgb(255, 252, 249);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: "poppins";
  /* border: 1px solid black; */
  height: 180px;
  padding-left: 50px;
  justify-content: center;
  gap: 20px;
  width: 700px;  
  border: 1px solid black;
  border-left: 2px solid rgb(255, 252, 249);
  /* background-image: linear-gradient( rgb(0, 0, 0),rgb(99, 99, 99)); */
  /* padding: 6px 15px; */
  box-shadow: 4px 4px;
  transition: all 0.2s ease-in;
  text-align: left;
}

.level p{
  background-color: rgb(255, 208, 0);
  border: 2px solid black;
  width: fit-content;
  text-align: center;
  padding: 1px 4px;
}
.content-hero3 .card .para{
  color: rgb(72, 72, 72);
  font-family: "poppins";
  
}