* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Mono", monospace;
}
html,
body {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  border-bottom: 3px solid black;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-top: 5px;
  gap: 70px;
}
nav ul a{
     color: grey;
  font-size: 17px;
  padding-top: 3px;
  transition: all 0.2s ease-in;
  text-decoration: none;
}
/* nav ul li {
 
} */
nav ul a:hover {
  color: black;
  cursor: pointer;
  font-size: 18px;
}
.logo {
  /* color: white; */
  border: 2px solid black;
  background-color: rgb(255, 191, 0);
  padding: 3px 15px;
  box-shadow: 3px 3px;
  transition: all 0.2s ease-in;
  
}
.shad {
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  padding: 3px 15px;
  box-shadow: 3px 3px;
}
.abt-button a, .logo h3 a{
    text-decoration: none;
    color: black;
} 
.abt-button h5 {
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  padding: 6px 15px;
  box-shadow: 3px 3px;
  transition: all 0.2s ease-in;
}
.abt-button h5:hover {
  cursor: pointer;
  transform: translateY(-2px);
  background-color: rgb(240, 238, 238);
}
.logo:hover {
  cursor: pointer;
  transform: translateY(-2px);
  background-color: rgb(255, 195, 15);
}
.power p{
  border: 2px solid black;
  background-color: rgb(248, 248, 248);
  padding: 5px 12px;
  box-shadow: 2px 2px;
  color: rgb(100, 100, 100);
  align-items: center;
  display: flex;
  justify-content: center;
  

}
.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.power p img{
  height: 25px;
  width: 25px;
  margin: 0px 7px;
}
.page1 .left img{
  height: 600px;
  width : 600px;
  padding: 1px;
  ;
  margin: 60px 60px;
  
}
/* .page1 {
  display: flex;
  justify-content: space-around ;
  align-items: center;
} */
.page1 .right{
  margin: left 40px;
  font-size: 40px;
}
.line1{
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .hero-section{
  min-height: 100%;
  /* background-color: red; */
  padding-bottom: 200px;
  padding-top: 70px;
}
.content .two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .two h1{
  padding: 17px;
  font-size: 80px;
}
.content .two p{
  font-family: "poppins";
  color: grey;
  font-size: 25px;
  width: 780px;
  text-align: center;

}
.content{
  margin-top: 90px;
}

.topics img{
  height: 23px;
  width: 23px;
  padding: 2px;
  
}


.topics{
  display: flex;
  gap: 8px;
  justify-content: center;
  color: white;
  align-items: center;
  border: 2px solid black;
  background-image: linear-gradient( rgb(0, 0, 0),rgb(99, 99, 99));
  padding: 6px 15px;
  margin: 20px;
  box-shadow: 2px 2px;
  transition: all 0.2s ease-in;
  font-size: 12px;
}
.line2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.topics2{
  margin: 30px 20px;
  font-size: 25px;
  font-family: "poppins";
  

}
.topics2 a{
  text-decoration: none;
  color: black;
}
.topics2 h5{
  font-family: "poppins";
  font-weight: 600;
  border: 2px solid black;
  background-color: rgb(248, 248, 248);
  padding: 6px 15px;
  /* margin: 20px; */
  box-shadow: 2px 2px;
  transition: all 0.2s ease-in;

  
}
.topics2 h5:hover {
  cursor: pointer;
  transform: translateY(-4px);
  background-color: rgb(240, 238, 238);
}